<div id="--public-cloud-voucher-banner" style="display: flex; align-items: center; background: rgba(0,0,0,0) linear-gradient(90deg,#FFF038 0%,#19FFFE 100%) 0 0 no-repeat padding-box; min-height: 56px; margin-top: 1em; padding: 1ex 1em;">
    <div style="text-align: center; width: 100%;">
        <strong>Public Cloud free trial:</strong>&nbsp;
        Launch your first project today with&nbsp;
        <strong>A$300</strong>&nbsp;free credit<sup>[1]</sup>.&nbsp;
        <a href="https://ca.ovh.com/auth/?ovhSubsidiary=AU&onsuccess=https%3A//ca.ovh.com/manager/%23/public-cloud/pci/projects/new%3Fcontexte%3Dwebsite%26ovhSubsidiary%3DAU%26voucher%3DFREETRIAL%26target%3D%257B%2522category%2522%253A%2522%2522%252C%2522state%2522%253A%2522ADD%2522%252C%2522steps%2522%253A%257B%2522STEP_1%2522%253A%2522%2522%257D%257D&_gl=1*1ygp9ue*_gcl_au*MTM0Mzc2NTg1LjE2ODQxMzkyNDQ.">
            Get started!
        </a>
    </div>
</div>