<div id="--sia-footer" style="font-size: 12px;">
    <p>[1]: FR-FR Offre promotionnelle «&nbsp;Public Cloud Free Trial » limitée applicable pour toute mise en place et
        consommation d’un premier projet de service Public Cloud (tout client, nouveau ou non, peut demander à
        bénéficier de cette offre dans la mesure où il n’a pas déjà créé un projet Public Cloud par le passé, que
        celui-ci soit encore en vigueur ou non), activable dès le 1er Juillet 2022 à 00h00 (heure de Paris). Le coupon
        doit être activé lors de la création du premier projet Public Cloud du titulaire. Le coupon est valable
        uniquement pour les achats de prestation de service fournis par OVHcloud, directement auprès d’OVHcloud via le
        site internet et uniquement pour les services Public Cloud, sur toutes les régions Public Cloud disponibles,
        hors offres gratuites (notamment services en phase de beta test gratuits). Ce coupon n’est pas cumulable avec
        d’autres offres promotionnelles en cours applicables aux services concernés, y compris l’offre promotionnelle «
        Public Cloud Free Trial ». Le coupon s’applique sur les tarifs standards publics (tels que publié sur le site
        internet d’OVHcloud) ne faisant pas l’objet d’une remise quelle qu’elle soit. La valeur du coupon est exprimée
        dans la devise affichée publiquement pour le marché/pays auquel est rattaché le contrat Public Cloud bénéficiant
        du coupon, hors taxes, et ne peut être utilisée que pour consommer des services dans la même devise. Le coupon
        est valable pour la consommation de services usuellement disponibles dans le marché auquel est rattaché le NIC
        utilisé. Le coupon est attribué à une personne physique ou morale déterminée ayant déjà un compte client chez
        OVHcloud, et est rattaché à son NIC OVHcloud (identifiant unique ; dans le cas où la personne physique ou morale
        a plusieurs NIC, le coupon est rattaché à un seul NIC, sans possibilité de pouvoir changer le NIC de
        rattachement, ni de bénéficier de plusieurs coupons). Une même personne physique ou morale ne peut utiliser
        qu’un seul coupon, même si cette personne dispose de plusieurs NIC différents. Dans le cas où le coupon est
        utilisé par un NIC autre que le NIC auquel est rattaché le coupon, OVHcloud se réserve le droit d’annuler ou de
        résilier de plein droit, sans formalité judiciaire ni indemnité, les services obtenus ainsi, sans ré-émission du
        coupon. L’utilisation du coupon est soumise à l’acceptation sans réserve des présentes conditions, ainsi que des
        Conditions Générales et Conditions Particulières applicables aux services obtenus, accessibles à l’adresse&nbsp;<a
                data-entity-substitution="canonical" data-entity-type="node"
                style="font-size: 12px;"
                data-entity-uuid="078f0d24-8dae-4f9a-b949-25db37468b3d"
                href="https://www.ovhcloud.com/fr/terms-and-conditions/contracts/" rel="nofollow noopener"
                target="_blank" title="Follow link">https://www.ovhcloud.com/fr/terms-and-conditions/contracts/</a>&nbsp;Par
        exception, les montants issus de ce coupon ne font pas partie de l’assiette du montant mensuel des services
        utilisés dans les cadre des niveaux de services (SLA) et des pénalités associées ; c’est-à-dire que si le
        titulaire du coupon consomme un montant inférieur ou égal au coupon pour un mois donné, aucune pénalité ne sera
        versé en cas de manquement à un SLA dans le cadre du service, tandis que s’il consomme un montant supérieur,
        seul les montants payés au-delà du coupon seront pris en compte dans le calcul des pénalités. Le coupon est non
        échangeable, non remboursable, et non revendable, même partiellement. Il ne peut pas être cédé, vendu ou
        transmis à quelque titre que ce soit, de manière gratuite ou payante, à un tiers (il n’est pas cessible entre
        entités morales distinctes d’un même groupe de société). Le coupon n’est utilisable que pour un seul projet
        Public Cloud, mais peut être utilisé en une ou plusieurs fois pour ce projet, en complément si nécessaire avec
        un autre moyen de paiement, jusqu’à l’épuisement du solde ou l’arrivée du terme de validité du coupon. Pour
        utiliser ce coupon, le titulaire doit disposer d’un moyen de paiement valide enregistré dans son compte client
        OVHcloud. A partir de son activation dans le compte client du titulaire, le coupon est valide pendant une
        période d’un (1) mois et est déduit automatiquement des factures liées au projet Public Cloud pour lequel le
        coupon a été activé. Le coupon n’est pas remplaçable en cas de perte, de vol, de destruction, de fin de validité
        ou d’utilisation frauduleuse. Par ailleurs, en cas de non-respect des présentes conditions ou d’utilisation
        frauduleuse (notamment utilisation de multiples coupons pour une même personne), OVHcloud se réserve le droit de
        mettre fin aux services souscrits utilisant les coupons, et/ou d’annuler les coupons, et le titulaire sera
        redevable dans tous les cas envers OVHcloud du paiement intégral des montants lié aux services consommés,
        incluant le montant du/des coupons, sans préjudice du dédommagement qu’OVHcloud pourrait réclamer. Dans les
        limites de ce qui est autorisé par les lois en vigueur, la responsabilité d’OVHcloud dans le cadre de cette
        offre promotionnelle est limité au montant du coupon. Les coupons seront établis et délivrés par les sociétés
        Affiliées d’OVH Groupe SA (537 407 926 RCS Lille Métropole, 2 rue Kellermann, 59100 Roubaix, France), en
        fonction de la société du Groupe OVHcloud avec laquelle le titulaire contracte le service Public Cloud
        bénéficiant du coupon (cette entité étant ici dénommée « OVHcloud »). Pour les besoins des présentes conditions,
        les sociétés « Affiliées » sont toute les sociétés qu’OVH Groupe SA contrôle, qui contrôlent OVH Groupe SA ou
        avec laquelle OVH Groupe SA se trouve sous contrôle commun d’une troisième entité. La notion de contrôle
        s’entend au sens de l’article L233-3 du code de commerce français, le contrôle pouvant être direct ou indirect.
        Par ailleurs, le « Groupe OVHcloud » est défini comme la société OVH Groupe SA et toutes ses sociétés Affiliées.
        Le droit français s’applique aux présentes conditions, et tout litige n’ayant pas trouvé de solution amiable
        sera soumis à la compétence des tribunaux français.</p>
</div>