<div id="--sia-footer" style="font-size: 12px;">
    <p>[1]: Limited ‘Public Cloud Free Trial’ special offer applicable to all first-time setup and use of a Public Cloud project.
        Both new and existing customers can request to use this special offer, provided that they have not already created
        a Public Cloud project in the past, whether it is still active or not. Special offer available from 30 June 2022, 23:00 BST.
        The voucher must be activated when the holder creates their first Public Cloud project. The voucher is only valid for the
        purchase of Public Cloud services provided by OVHcloud, purchased directly from OVHcloud via the website, in all available
        Public Cloud regions, excluding free offers and free beta testing services. This voucher cannot be used in conjunction with
        any other current special offers applicable to the services concerned, including the ‘Public Cloud Free Trial’ special offer.
        The voucher applies to standard, non-discounted public rates (as published on the OVHcloud website). The voucher’s value is
        listed in the publicly displayed currency for the market/country to which the Public Cloud account with the voucher is attached,
        excluding taxes, and can only be used to order services in the same currency. The voucher is valid for the purchase of services
        usually available in the market to which the NIC handle used is linked. The voucher is assigned to a specific natural or legal
        person who already has an OVHcloud customer account, and is linked to their OVHcloud NIC handle (unique ID). If the natural
        or legal person has several NICs, the voucher shall be attached to a single NIC. The voucher cannot then be linked to
        a different NIC handle, and only one voucher may be used. A single natural or legal person can only use one voucher, even if
        that person has several different NIC handles. In the event that the voucher is used by a NIC handle other than the NIC handle
        to which the voucher is attached, OVHcloud reserves the right to automatically cancel or terminate the services obtained
        as a result, without reissuing the voucher and without legal formality or compensation. The use of the voucher is subject
        to the full acceptance of these conditions, as well as the General and Special Terms and Conditions applicable to the
        services obtained. These terms and conditions can be viewed at&nbsp;<a
                data-entity-substitution="canonical" data-entity-type="node"
                style="font-size: 12px;"
                data-entity-uuid="078f0d24-8dae-4f9a-b949-25db37468b3d"
                href="https://www.ovhcloud.com/en-ie/terms-and-conditions/contracts/" rel="nofollow noopener"
                target="_blank" title="Follow link">https://www.ovhcloud.com/en-ie/terms-and-conditions/contracts/</a>&nbsp;.
        By way of exception, the amounts issued from this voucher do not form part of the base monthly fee for services used in
        terms of service levels (SLAs) and associated extra charges — i.e. if the voucher holder uses an amount less than or equal
        to the voucher for a given month, no penalty will be paid for a breach of an SLA in the course of the service, while if the
        voucher holder uses a higher amount, only the amounts paid above the voucher value will be taken into account in calculating
        extra charges. The voucher is non-exchangeable, non-refundable, and non-redeemable, even partially. It may not be given away,
        sold or transferred in any capacity whatsoever to a third party, either free of charge or for a fee (it may not be transferred
        between separate legal entities of the same group of companies). The voucher can only be used for one Public Cloud project,
        but can be used in one or more instalments on the project, and can be used in conjunction with another payment method if required,
        until the balance is used up or the voucher’s validity period ends. To use this voucher, the holder must have a valid payment
        method saved in their OVHcloud customer account. Once the voucher has been activated in the holder’s customer account, it is valid
        for a period of one (1) month, and is automatically deducted from the bills linked to the Public Cloud project for which the
        voucher has been activated. The voucher is not replaceable in the event of loss, theft, destruction, end of validity or
        fraudulent use. Furthermore, in the event of non-compliance with these conditions or of fraudulent use (including one person using
        multiple vouchers), OVHcloud reserves the right to terminate the subscribed services using the vouchers, and/or cancel the vouchers,
        and the holder will in all cases be liable to pay the full amounts to OVHcloud for the services used, including the voucher amount,
        without prejudice to any compensation that OVHcloud may claim. Within the limits of what is authorised by the laws in force,
        OVHcloud’s responsibility for this special offer is limited to the voucher amount. The vouchers will be created and delivered
        by the OVH Groupe SA Affiliates companies (537 407 926 RCS Lille Métropole, 2 rue Kellermann, 59100 Roubaix, France), depending on
        which OVHcloud Groupe company the holder orders the Public Cloud service from using the voucher (this entity is named
        here as “OVHcloud”). For the purposes of these conditions, “Affiliates” are any company controlled by OVH Groupe SA, that controls
        OVH Groupe SA, or with which OVH Groupe SA is jointly controlled by a third party. The concept of control is understood in
        Article L233-3 of the French Commercial Code, control may be direct or indirect. Furthermore, the “OVHcloud Groupe” is defined as
        OVH Groupe SA and all its Affiliates. French law applies to these conditions, and any dispute that is not resolved through an amicable
        solution will be subject to the jurisdiction of the French courts.</p>
  </div>