# Auto detect text files and perform LF normalization
*                 text=auto

# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes   text eol=lf
.gitignore        text eol=lf
*.md	          text eol=lf diff=markdown linguist-language=markdown linguist-detectable=true linguist-documentation=false
*.html            text eol=lf diff=html
*.json            text eol=lf
*.sh              text eol=lf diff=bash
*.yaml            text eol=lf
*.yml             text eol=lf
links/**/*        text eol=lf

# Enable syntax highlighting for files with `.gitattributes` extensions.
*.gitattributes   linguist-language=gitattributes linguist-detectable=true linguist-documentation=false

# Graphics
*.gif             binary
*.jpg             binary
*.jpeg            binary
*.pdf             binary
*.png             binary
# SVG treated as an asset (binary) by default.
*.svg             text
# If you want to treat it as binary, use the following line instead.
# *.svg           binary

