# Local
.DS_Store
*.local
*.log*
base

# Dist
node_modules
dist/
doc_build/
doc_build_final/

# Build cache
.last-updated-cache.json

# Turborepo
.turbo/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
