<style>
    details>summary {
        color:rgb(33, 153, 232) !important;
        cursor: pointer;
    }
    details>summary::before {
        content:'\25B6';
        padding-right:1ch;
    }
    details[open]>summary::before {
        content:'\25BC';
    }
    div#article-content article div.callout.note {
        background: #f7f3f3;
        color: #a8a0a0 !important;
        border-color: #a8a0a0 !important;
        padding-left: 60px;
        border-width: 1px;
        border-style: solid;
        margin: 20px 0;
        border: 1px solid rgba(10, 10, 10, .25);
        border-radius: 0;
        position: relative;
        padding-right: 12px;
    }
    div#article-content article div.callout.note p {
        color: #a8a0a0 !important;
    }
    div#article-content article div.callout.note:before {
        content: "\f05a";
        display: block;
        margin: 0 0 0 -45px;
        font-family: FontAwesome;
        font-size: 40px;
        position: absolute;
    }
    div#article-content article {
        padding-top: 1em;
    }
</style>

/// details | Informazioni sulla traduzione

> [!note]
> Questa traduzione è stata generata automaticamente dal nostro partner SYSTRAN. I contenuti potrebbero presentare imprecisioni, ad esempio la nomenclatura dei pulsanti o alcuni dettagli tecnici. In caso di dubbi consigliamo di fare riferimento alla versione inglese o francese della guida. Per aiutarci a migliorare questa traduzione, utilizza il pulsante "Contribuisci" di questa pagina.
>

///
