<style>
    details>summary {
        color:rgb(33, 153, 232) !important;
        cursor: pointer;
    }
    details>summary::before {
        content:'\25B6';
        padding-right:1ch;
    }
    details[open]>summary::before {
        content:'\25BC';
    }
    div#article-content article div.callout.note {
        background: #f7f3f3;
        color: #a8a0a0 !important;
        border-color: #a8a0a0 !important;
        padding-left: 60px;
        border-width: 1px;
        border-style: solid;
        margin: 20px 0;
        border: 1px solid rgba(10, 10, 10, .25);
        border-radius: 0;
        position: relative;
        padding-right: 12px;
    }
    div#article-content article div.callout.note p {
        color: #a8a0a0 !important;
    }
    div#article-content article div.callout.note:before {
        content: "\f05a";
        display: block;
        margin: 0 0 0 -45px;
        font-family: FontAwesome;
        font-size: 40px;
        position: absolute;
    }
    div#article-content article {
        padding-top: 1em;
    }
</style>

/// details | Información sobre la traducción

> [!note]
> Esta traducción ha sido generada de forma automática por nuestro partner SYSTRAN. En algunos casos puede contener términos imprecisos, como en las etiquetas de los botones o los detalles técnicos. En caso de duda, le recomendamos que consulte la versión inglesa o francesa de la guía. Si quiere ayudarnos a mejorar esta traducción, por favor, utilice el botón «Contribuir» de esta página.
>

///
