<style>
    details>summary {
        color:rgb(33, 153, 232) !important;
        cursor: pointer;
    }
    details>summary::before {
        content:'\25B6';
        padding-right:1ch;
    }
    details[open]>summary::before {
        content:'\25BC';
    }
    div#article-content article div.callout.note {
        background: #f7f3f3;
        color: #a8a0a0 !important;
        border-color: #a8a0a0 !important;
        padding-left: 60px;
        border-width: 1px;
        border-style: solid;
        margin: 20px 0;
        border: 1px solid rgba(10, 10, 10, .25);
        border-radius: 0;
        position: relative;
        padding-right: 12px;
    }
    div#article-content article div.callout.note p {
        color: #a8a0a0 !important;
    }
    div#article-content article div.callout.note:before {
        content: "\f05a";
        display: block;
        margin: 0 0 0 -45px;
        font-family: FontAwesome;
        font-size: 40px;
        position: absolute;
    }
    div#article-content article {
        padding-top: 1em;
    }
</style>

/// details | Informationen zur Übersetzung

> [!note]
> Diese Übersetzung wurde durch unseren Partner SYSTRAN automatisch erstellt. In manchen Fällen können ungenaue Formulierungen verwendet worden sein, z.B. bei der Beschriftung von Schaltflächen oder technischen Details. Bitte ziehen Sie im Zweifelsfall die englische oder französische Fassung der Anleitung zu Rate. Möchten Sie mithelfen, diese Übersetzung zu verbessern? Dann nutzen Sie dazu bitte den Button "Beitragen" auf dieser Seite.
>

///
