<div id="--training-certification" style="display: flex; align-items: center; background: rgba(0,0,0,0) linear-gradient(90deg,#FFF038 0%,#19FFFE 100%) 0 0 no-repeat padding-box; min-height: 56px; margin-top: 1em; padding: 1ex 1em;">
    <div style="text-align: center; width: 100%;">
        <strong>Ökosystem:</strong>&nbsp;
        Sie sind ein OVHcloud Partner? Erhalten Sie Schulung und Zertifizierung für diese Lösung.&nbsp;
        <a href="https://partner.ovhcloud.com/de/training-certification/">
            Entdecken Sie jetzt die verfügbaren Lernpfade
        </a>
    </div>
</div>