<div id="--training-certification" style="display: flex; align-items: center; background: rgba(0,0,0,0) linear-gradient(90deg,#FFF038 0%,#19FFFE 100%) 0 0 no-repeat padding-box; min-height: 56px; margin-top: 1em; padding: 1ex 1em;">
    <div style="text-align: center; width: 100%;">
        <strong>Ecosistema:</strong>&nbsp;
        Estimado Partner, fórmese y certifíquese en esta solución.&nbsp;
        <a href="https://partner.ovhcloud.com/es-es/training-certification/">
            Descubra los itinerarios de aprendizaje disponibles
        </a>
    </div>
</div>