<div id="--web-hosting-prestashop" style="display: flex; align-items: center; background: rgba(0,0,0,0) linear-gradient(90deg,#FFF038 0%,#19FFFE 100%) 0 0 no-repeat padding-box; min-height: 56px; margin-top: 1em; padding: 1ex 1em;">
    <div style="text-align: center; width: 100%;">
        Vous souhaitez créer un site internet ou un blog rapidement ? Vous pouvez installer l'un de nos 3 CMS en un seul clic.&nbsp;
        <a href="https://www.ovhcloud.com/fr-ca/web-hosting/uc-wordpress-website/">
            WordPress
        </a>
        ,&nbsp;
        <a href="https://www.ovhcloud.com/fr-ca/web-hosting/uc-drupal-website/">
            Drupal
        </a>
        &nbsp;ou&nbsp;
        <a href="https://www.ovhcloud.com/fr-ca/web-hosting/uc-joomla-website/">
            Joomla!
        </a>
        .
    </div>
</div>