<div id="--marketplace-support-dns" style="display: flex; align-items: center; background: rgba(0,0,0,0) linear-gradient(90deg,#FFF038 0%,#19FFFE 100%) 0 0 no-repeat padding-box; min-height: 56px; margin-top: 1em; padding: 1ex 1em;">
    <div style="text-align: center; width: 100%;">
        <strong>Gagnez du temps et de la tranquillité d'esprit !</strong>&nbsp;
        Faites appel à l'expertise des partenaires de l'OVHcloud Marketplace pour configurer ou modifier la zone DNS de votre nom de domaine.&nbsp;
        <a href="https://marketplace.ovhcloud.com/c/support-web-dns">
            En savoir plus
        </a>
    </div>
</div>