<div id="--efs-supports-trident-csi-banner" style="display: flex; align-items: center; background: rgba(0,0,0,0) linear-gradient(90deg,#FFF038 0%,#19FFFE 100%) 0 0 no-repeat padding-box; min-height: 56px; margin-top: 1em; padding: 1ex 1em;">
    <div style="text-align: center; width: 100%;">
        <strong>Enterprise File Storage ahora es compatible con NetApp Trident CSI:</strong>&nbsp;
        Aprovisione fácilmente volúmenes de almacenamiento persistentes desde Enterprise File Storage en su Managed Kubernetes Service.&nbsp;
        <a href="https://help.ovhcloud.com/csm/es-public-cloud-storage-netapp-trident-csi?id=kb_article_view&sysparm_article=KB0074873">¡Siga la guía para empezar ahora!</a>
    </div>
</div>
