<div id="--efs-supports-trident-csi-banner" style="display: flex; align-items: center; background: rgba(0,0,0,0) linear-gradient(90deg,#FFF038 0%,#19FFFE 100%) 0 0 no-repeat padding-box; min-height: 56px; margin-top: 1em; padding: 1ex 1em;">
    <div style="text-align: center; width: 100%;">
        <strong> Enterprise File Storage now adds support for NetApp Trident CSI:</strong>&nbsp;
        Seamlessly provision persistent storage volumes from Enterprise File Storage in your Managed Kubernetes Service.&nbsp;
        <a href="https://help.ovhcloud.com/csm/asia-public-cloud-storage-netapp-trident-csi?id=kb_article_view&sysparm_article=KB0074870">Follow the guide to get started now!</a>
    </div>
</div>