<div id="--marketplace-support-collaboration" style="display: flex; align-items: center; background: rgba(0,0,0,0) linear-gradient(90deg,#FFF038 0%,#19FFFE 100%) 0 0 no-repeat padding-box; min-height: 56px; margin-top: 1em; padding: 1ex 1em;">
    <div style="text-align: center; width: 100%;">
        <strong>OVHcloud Marketplace :</strong>&nbsp;
        Gagnez du temps et de la tranquilité d'esprit, faites appel à l'expertise de nos partenaires pour réaliser la configuration de vos adresses e-mail.&nbsp;
        <a href="https://marketplace.ovhcloud.com/c/support-collaboration">
            Découvrir ->
        </a>
    </div>
</div>